{% extends 'base.html.twig' %}

{% block title %}Miam chez moi{% endblock %}

{% block body %}
<div>
  <h1>
    Bien manger c'est la santé <br/>
    Miam chez moi
  </h1>
  <p>
    Miam chez moi est une entreprise de restauration proche de ses clients. <br><br>
    La nourriture proposée est d'origine française, une partie de vos achats est reversé aux petits commerçants
  </p>
</div>
{% endblock %}
