<div class="row layout_padding2">
<div class="col-md-8">
    <div class="fruit_detail-box">
    <h3>
        {{ catalogue.nom }}
    </h3>
    <p class="mt-4 mb-5">
        {{ catalogue.description }}
    </p>
    <div>
        <a href="" class="custom_dark-btn">
        Miam
        </a>
    </div>
    </div>
</div>
<div class="col-md-4 d-flex justify-content-center align-items-center">
    <div class="fruit_img-box d-flex justify-content-center align-items-center">
    <img src={{ catalogue.image }} width="250px" />
    </div>
</div>
</div>